.container {
    .title,
    .row {
        padding: 5px 0;
    }

    .title {
        font-size: 24px;
    }

    .row {
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
    }

    .label {

    }

    .value {

    }
}
