:local {
    .title {
        margin: 20px 0;
        font-weight: bold;
    }

    .links {
        padding: 0 25px;
        list-style-type: decimal-leading-zero;

        .link:hover {
            text-decoration: underline;
        }

        .link:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
