:local {
    h3 {
        margin: 20px 0;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        padding: 0 25px;
        list-style-type: decimal-leading-zero;

        li:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
