.container {
    margin-bottom: 50px;

    .controls {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .name,
    .size,
    .status {
        font-size: 12px;
        margin-right: 20px;
    }
}
